body.--dark {
    background-color: #393B4B;
}

.--dark .p-Widget,
.--dark .p-TabBar-tab,
.--dark .p-TabBar-content,
.--dark .p-Menu-item > div::after,
.--dark .p-TabBar-tab:hover:not(.p-mod-current),
.--dark .p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
    color: #e2e4e9;
    border-color: #2E343D!important;
}

.--dark .p-Widget.button:hover,
.--dark .p-Menu-item.p-mod-active,
.--dark .p-TabBar-tab.p-mod-current,
.--dark .p-MenuBar .p-MenuBar-item.p-mod-active,
.--dark .p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
    color: #ffffff;
}

.--dark .p-Menu,
.--dark .p-MenuBar-item.p-mod-active,
.--dark .p-Widget.p-Menu.p-MenuBar-menu,
.--dark .p-TabBar-tab:hover:not(.p-mod-current) {
    background-color: #383d47!important;
}

.--dark .p-MenuBar,
.--dark .p-Widget.content,
.--dark .p-Widget.sidebar,
.--dark .p-TabBar-tab.p-mod-current {
    background-color: #404551;
}

.--dark .p-TabBar-tab,
.--dark .p-Menu-item.p-mod-active {
    background-color: #2d3139;
}